/**
 * @name Discord Icons
 * @description discord icons, I take no credit for anything'
 * @version 1.6.2
 * @author various users
 * @source https://github.com/vilchu/DiscordIcons/blob/main/DiscordIcons.theme.css
 * @updateUrl https://vilchu.github.io/DiscordIcons/DiscordIcons.theme.css;
**/


@import url(https://mudaranrhiod.github.io/discord-iconpacks/vencord/solar/solar.css);
@import url("https://mudaranrhiod.github.io/VencordThemes/solarmoreicons.css");

@import url("https://gold-me.github.io/DiscordIcons/main.css");

:root {
  container: root;

  --settingsicons-default: url(https://cdn-icons-png.flaticon.com/512/9161/9161130.png);
  --settingsicons-bd-settings: url(https://mwittrien.github.io/BetterDiscordAddons/Themes/_res/svgs/settingsicons/settings.png);
  --settingsicons-bd-updates: url(https://mwittrien.github.io/BetterDiscordAddons/Themes/_res/svgs/settingsicons/updates.png);
  --settingsicons-bd-customcss: url(https://mwittrien.github.io/BetterDiscordAddons/Themes/_res/svgs/settingsicons/customcss.png);
  --settingsicons-bd-plugins: url(https://mwittrien.github.io/BetterDiscordAddons/Themes/_res/svgs/settingsicons/plugins.png);
  --settingsicons-bd-themes: url(https://mwittrien.github.io/BetterDiscordAddons/Themes/_res/svgs/settingsicons/themes.png);
}

:root {
  --si-size: 24px; /* <length> (Default: 24px) Set the size of the icons. */
  --si-height: 32px; /* <length> (Default: 32px) Set the height for sidebar items. If the --si-size is greater than this value, --si-size takes priority. */
  --si-animations: true; /* <true/false> (Default: true) Makes the sidebars have hover animations. */
  --si-expand: false; /* <true/false> (Default: false) Expands the sidebar when hovering over items, mainly for being able to see any words that got cut off from icons. May break some themes. */
  --si-presets: true; /* <true/false> (Default: false) Some icons have have been setup to change color on their selection/hover by default, set this to true to disable that functionality. */
  --si-permacolor: false; /* <true/false> (Default: false) Makes icons always display their custom color. */
  --si-color: currentColor; /* <color> (Default: currentColor) Set's the color for ALL icons. Can be fine tuned with selectors. */
  --si-opacity: 0.4;
  --si-opacity-hover: 0.8;

  /* Exhaustive List of Icons: */
  --si-my-account: url("https://mudaranrhiod.github.io/discord-iconpacks/vencord/solar/moreicons/myaccount.svg");
  --si-profile-customization: url("https://mudaranrhiod.github.io/discord-iconpacks/vencord/solar/moreicons/profiles.svg");
  --si-content-social: url("https://mudaranrhiod.github.io/discord-iconpacks/vencord/solar/moreicons/userplus.svg");
  --si-data-privacy: url("https://mudaranrhiod.github.io/discord-iconpacks/vencord/solar/moreicons/privacy.svg");
  --si-family-center: url("https://mudaranrhiod.github.io/discord-iconpacks/vencord/solar/moreicons/users.svg");
  --si-authorized-apps: url("https://mudaranrhiod.github.io/discord-iconpacks/vencord/solar/moreicons/key.svg");
  --si-sessions: url("https://mudaranrhiod.github.io/discord-iconpacks/vencord/solar/moreicons/devices.svg");
  --si-connections: url("https://mudaranrhiod.github.io/discord-iconpacks/vencord/solar/moreicons/connections.svg");
  --si-settings-clips: url("https://mudaranrhiod.github.io/discord-iconpacks/vencord/solar/moreicons/clips.svg");
  --si-discord-nitro: url("https://mudaranrhiod.github.io/discord-iconpacks/vencord/solar/moreicons/nitro.svg");
  --si-nitro-server-boost: url("https://mudaranrhiod.github.io/discord-iconpacks/vencord/solar/moreicons/boost.svg");
  --si-subscriptions: url("https://mudaranrhiod.github.io/discord-iconpacks/vencord/solar/moreicons/subscription.svg");
  --si-library-inventory: url("https://mudaranrhiod.github.io/discord-iconpacks/vencord/solar/moreicons/gift.svg");
  --si-billing: url("https://mudaranrhiod.github.io/discord-iconpacks/vencord/solar/moreicons/billing.svg");
  --si-appearance: url("https://mudaranrhiod.github.io/discord-iconpacks/vencord/solar/moreicons/pallete.svg");
  --si-accessibility: url("https://mudaranrhiod.github.io/discord-iconpacks/vencord/solar/moreicons/accessibility.svg");
  --si-voice-video: url("https://mudaranrhiod.github.io/discord-iconpacks/vencord/solar/moreicons/voice.svg");
  --si-powermode-settings: url("https://raw.githubusercontent.com/gold-me/DiscordIcons/master/Icons/SVG/Discord/Party.svg");
  --si-text-images: url("https://mudaranrhiod.github.io/discord-iconpacks/vencord/solar/moreicons/textandimages.svg");
  --si-notifications: url("https://mudaranrhiod.github.io/discord-iconpacks/vencord/solar/moreicons/notifications.svg");
  --si-keybinds: url("https://mudaranrhiod.github.io/discord-iconpacks/vencord/solar/moreicons/keyboard.svg");
  --si-language: url("https://mudaranrhiod.github.io/discord-iconpacks/vencord/solar/custom/msg_translate_filled_solar.svg");
  --si-windows: url("https://mudaranrhiod.github.io/discord-iconpacks/vencord/solar/moreicons/windows.svg");
  --si-linux: url("https://raw.githubusercontent.com/gold-me/DiscordIcons/master/Icons/SVG/Logo-Tux.svg");
  --si-streamer-mode: url("https://mudaranrhiod.github.io/discord-iconpacks/vencord/solar/moreicons/streamermode.svg");
  --si-advanced: url("https://mudaranrhiod.github.io/discord-iconpacks/vencord/solar/moreicons/settings.svg");
  --si-activity-privacy: url("https://mudaranrhiod.github.io/discord-iconpacks/vencord/solar/moreicons/activityprivacy.svg");
  --si-game-activity: url("https://mudaranrhiod.github.io/discord-iconpacks/vencord/solar/moreicons/gameactivity.svg");
  --si-overlay: url("https://mudaranrhiod.github.io/discord-iconpacks/vencord/solar/moreicons/overlay.svg");
  --si-changelog: url("https://mudaranrhiod.github.io/discord-iconpacks/vencord/solar/moreicons/changelog.svg");
  --si-merchandise: url("https://mudaranrhiod.github.io/discord-iconpacks/vencord/solar/moreicons/merch.svg");
  --si-hypesquad-online: url("https://raw.githubusercontent.com/gold-me/DiscordIcons/master/Icons/SVG/Discord/HypeSquad.svg");

  --si-experiments: url("https://raw.githubusercontent.com/gold-me/DiscordIcons/master/Icons/SVG/Experiment.svg");
  --si-developer-options: url("https://raw.githubusercontent.com/gold-me/DiscordIcons/master/Icons/SVG/Memory.svg");
  --si-hotspot-options: url("https://raw.githubusercontent.com/gold-me/DiscordIcons/master/Icons/SVG/Memory.svg");
  --si-dismissible-content-options: url("https://raw.githubusercontent.com/gold-me/DiscordIcons/master/Icons/SVG/Memory.svg");
  --si-payment-flow-modals: url("https://raw.githubusercontent.com/gold-me/DiscordIcons/master/Icons/SVG/Memory.svg");
  --si-revenue-storybook: url("https://raw.githubusercontent.com/gold-me/DiscordIcons/master/Icons/SVG/Memory.svg");
  --si-virtual-currency-configuration: url("https://raw.githubusercontent.com/gold-me/DiscordIcons/master/Icons/SVG/Memory.svg");
  --si-design-system: url("https://raw.githubusercontent.com/gold-me/DiscordIcons/master/Icons/SVG/Memory.svg");
  --si-text-playground: url("https://raw.githubusercontent.com/gold-me/DiscordIcons/master/Icons/SVG/Memory.svg");
  --si-text-component: url("https://raw.githubusercontent.com/gold-me/DiscordIcons/master/Icons/SVG/Memory.svg");
  --si-intl-testing: url("https://raw.githubusercontent.com/gold-me/DiscordIcons/master/Icons/SVG/Memory.svg");
  --si-profile-effects-preview-tool: url("https://raw.githubusercontent.com/gold-me/DiscordIcons/master/Icons/SVG/Memory.svg");
  --si-nameplates-preview-tool: url("https://raw.githubusercontent.com/gold-me/DiscordIcons/master/Icons/SVG/Memory.svg");
  --si-web-setting-tree-tool: url("https://raw.githubusercontent.com/gold-me/DiscordIcons/master/Icons/SVG/Memory.svg");

  --si-logout: url("https://raw.githubusercontent.com/gold-me/DiscordIcons/master/Icons/SVG/Logout.svg");

  --si-overview: url("https://raw.githubusercontent.com/gold-me/DiscordIcons/master/Icons/SVG/Info.svg");
  --si-roles: url("https://mudaranrhiod.github.io/discord-iconpacks/vencord/solar/moreicons/usershield.svg");
  --si-emoji: url("https://mudaranrhiod.github.io/discord-iconpacks/vencord/solar/moreicons/emoji.svg");
  --si-stickers: url("https://mudaranrhiod.github.io/discord-iconpacks/vencord/solar/moreicons/sticker.svg");
  --si-soundboard: url("https://mudaranrhiod.github.io/discord-iconpacks/vencord/solar/moreicons/soundboard.svg");
  --si-widget: url("https://raw.githubusercontent.com/gold-me/DiscordIcons/master/Icons/SVG/Widgets.svg");
  --si-guild_templates: url("https://mudaranrhiod.github.io/discord-iconpacks/vencord/solar/moreicons/template.svg");
  --si-vanity_url: url("https://raw.githubusercontent.com/gold-me/DiscordIcons/master/Icons/SVG/Share.svg");
  --si-integrations: url("https://mudaranrhiod.github.io/discord-iconpacks/vencord/solar/moreicons/connections.svg");
  --si-app_directory: url("https://mudaranrhiod.github.io/discord-iconpacks/vencord/solar/custom/apps.svg");
  --si-moderation: url("https://raw.githubusercontent.com/gold-me/DiscordIcons/master/Icons/SVG/Safety_Setup.svg");
  --si-safety: url("https://mudaranrhiod.github.io/discord-iconpacks/vencord/solar/moreicons/usershield.svg");
  --si-guild_automod: url("https://raw.githubusercontent.com/gold-me/DiscordIcons/master/Icons/SVG/AutoMod.svg");
  --si-audit_log: url("https://mudaranrhiod.github.io/discord-iconpacks/vencord/solar/moreicons/clipboard.svg");
  --si-bans: url("https://mudaranrhiod.github.io/discord-iconpacks/vencord/solar/moreicons/hammer.svg");
  --si-community: url("https://mudaranrhiod.github.io/discord-iconpacks/vencord/solar/moreicons/community.svg");
  --si-onboarding: url("https://mudaranrhiod.github.io/discord-iconpacks/vencord/solar/moreicons/onboarding.svg");
  --si-analytics: url("https://mudaranrhiod.github.io/discord-iconpacks/vencord/solar/moreicons/analytics.svg");
  --si-partner: url("https://raw.githubusercontent.com/gold-me/DiscordIcons/master/Icons/SVG/Discord/Partner.svg");
  --si-discovery: url("https://raw.githubusercontent.com/gold-me/DiscordIcons/master/Icons/SVG/Explore.svg");
  --si-community_welcome: url("https://raw.githubusercontent.com/gold-me/DiscordIcons/master/Icons/SVG/Explore.svg");
  --si-guild_premium: url("https://raw.githubusercontent.com/gold-me/DiscordIcons/master/Icons/SVG/Discord/Server_Boost.svg");
  --si-role_subscriptions: url("https://raw.githubusercontent.com/gold-me/DiscordIcons/master/Icons/SVG/Fact_Check.svg");
  --si-members: url("https://raw.githubusercontent.com/gold-me/DiscordIcons/master/Icons/SVG/Group.svg");
  --si-instant_invites: url("https://raw.githubusercontent.com/gold-me/DiscordIcons/master/Icons/SVG/Send.svg");
  --si-delete: url("https://raw.githubusercontent.com/gold-me/DiscordIcons/master/Icons/SVG/Delete.svg");
  --si-permissions: url("https://raw.githubusercontent.com/gold-me/DiscordIcons/master/Icons/SVG/Permissions.svg");
  
  /* Exhaustive List of Colors: */
  --si-color-my-account: var(--si-color);
  --si-color-profile-customization: var(--si-color);
  --si-color-content-social: var(--si-color);
  --si-color-data-privacy: var(--si-color);
  --si-color-family-center: var(--si-color);
  --si-color-authorized-apps: var(--si-color);
  --si-color-sessions: var(--si-color);
  --si-color-connections: var(--si-color);
  --si-color-settings-clips: var(--si-color);
  --si-color-discord-nitro: var(--brand-500);
  --si-color-nitro-server-boost: var(--guild-boosting-pink);
  --si-color-subscriptions: var(--si-color);
  --si-color-library-inventory: var(--si-color);
  --si-color-billing: var(--si-color);
  --si-color-appearance: var(--si-color);
  --si-color-accessibility: var(--si-color);
  --si-color-voice-video: var(--si-color);
  --si-color-powermode-settings: var(--si-color);
  --si-color-text-images: var(--si-color);
  --si-color-notifications: var(--si-color);
  --si-color-keybinds: var(--si-color);
  --si-color-language: var(--si-color);
  --si-color-windows: var(--si-color);
  --si-color-linux: var(--si-color);
  --si-color-streamer-mode: var(--si-color);
  --si-color-advanced: var(--si-color);
  --si-color-vencordsettings: var(--si-color);
  --si-color-vencordplugins: var(--si-color);
  --si-color-vencordthemes: var(--si-color);
  --si-color-vencordupdater: var(--si-color);
  --si-color-vencordcloud: var(--si-color);
  --si-color-vencordsettingssync: var(--si-color);
  --si-color-vesktop: var(--si-color);
  --si-color-activity-privacy: var(--si-color);
  --si-color-game-activity: var(--si-color);
  --si-color-overlay: var(--si-color);
  --si-color-changelog: var(--si-color);
  --si-color-merchandise: var(--si-color);
  --si-color-hypesquad-online: var(--si-color);
  --si-color-experiments: var(--si-color);
  --si-color-developer-options: var(--si-color);
  --si-color-hotspot-options: var(--si-color);
  --si-color-dismissible-content-options: var(--si-color);
  --si-color-payment-flow-modals: var(--si-color);
  --si-color-revenue-storybook: var(--si-color);
  --si-color-virtual-currency-configuration: var(--si-color);
  --si-color-design-system: var(--si-color);
  --si-color-text-playground: var(--si-color);
  --si-color-text-component: var(--si-color);
  --si-color-intl-testing: var(--si-color);
  --si-color-profile-effects-preview-tool: var(--si-color);
  --si-color-nameplates-preview-tool: var(--si-color);
  --si-color-web-setting-tree-tool: var(--si-color);
  --si-color-logout: var(--si-color);
  --si-color-overview: var(--si-color);
  --si-color-roles: var(--si-color);
  --si-color-emoji: var(--si-color);
  --si-color-stickers: var(--si-color);
  --si-color-soundboard: var(--si-color);
  --si-color-widget: var(--si-color);
  --si-color-guild_templates: var(--si-color);
  --si-color-vanity_url: var(--si-color);
  --si-color-integrations: var(--si-color);
  --si-color-app_directory: var(--si-color);
  --si-color-moderation: var(--si-color);
  --si-color-safety: var(--si-color);
  --si-color-guild_automod: var(--si-color);
  --si-color-audit_log: var(--si-color);
  --si-color-bans: var(--si-color);
  --si-color-community: var(--si-color);
  --si-color-onboarding: var(--si-color);
  --si-color-analytics: var(--si-color);
  --si-color-partner: var(--si-color);
  --si-color-discovery: var(--si-color);
  --si-color-community_welcome: var(--si-color);
  --si-color-guild_premium: var(--guild-boosting-pink);
  --si-color-role_subscriptions: var(--si-color);
  --si-color-members: var(--si-color);
  --si-color-instant_invites: var(--si-color);
  --si-color-delete: var(--si-color);
  --si-color-permissions: var(--si-color);
}


/* ---------------------------------------------------------------------- */    

body #app-mount .sidebarRegion__23e6b {
	flex-basis: calc(218px + (var(--use-settingsicons) * (var(--settingsicons-size) + var(--settingsicons-gap)))) !important;
}
body #app-mount .sidebar__23e6b,
body #app-mount .layer_d4b6c5 ~ .layer_d4b6c5 .sidebar__23e6b {
	width: calc(218px + (var(--use-settingsicons) * (var(--settingsicons-size) + var(--settingsicons-gap)))) !important;
}
.sidebar__23e6b .side_b3f026 .item_b3f026 {
	--settingsicons-icon: var(--settingsicons-default);
	display: flex;
	align-items: center;
}

.sidebar__23e6b .side_b3f026 .item_b3f026::before {
	background: currentColor;
	z-index: 2;
    mask: var(--settingsicons-icon) center/contain no-repeat;
	-webkit-mask: var(--settingsicons-icon) center/contain no-repeat;
}

.sidebar__23e6b .side_b3f026 .item_b3f026.bd-settings-tab,
.sidebar__23e6b .side_b3f026 .item_b3f026.vc-settings,
#app-mount .standardSidebarView__23e6b:has(.bd-settings-tab[aria-selected="true"]) .contentColumn__23e6b,
#app-mount .standardSidebarView__23e6b:has(.vc-settings[aria-selected="true"]) .contentColumn__23e6b {
	--settingsicons-icon: var(--settingsicons-bd-settings) !important;
}
.sidebar__23e6b .side_b3f026 .item_b3f026.bd-updates-tab,
.sidebar__23e6b .side_b3f026 .item_b3f026.vc-updater,
#app-mount .standardSidebarView__23e6b:has(.bd-updates-tab[aria-selected="true"]) .contentColumn__23e6b,
#app-mount .standardSidebarView__23e6b:has(.bd-updater[aria-selected="true"]) .contentColumn__23e6b {
	--settingsicons-icon: var(--settingsicons-bd-updates) !important;
}
.sidebar__23e6b .side_b3f026 .item_b3f026.bd-customcss-tab,
#app-mount .standardSidebarView__23e6b:has(.bd-customcss-tab[aria-selected="true"]) .contentColumn__23e6b {
	--settingsicons-icon: var(--settingsicons-bd-customcss) !important;
}
.sidebar__23e6b .side_b3f026 .item_b3f026.bd-plugins-tab,
.sidebar__23e6b .side_b3f026 .item_b3f026.vc-plugins ,
#app-mount .standardSidebarView__23e6b:has(.bd-plugins-tab[aria-selected="true"]) .contentColumn__23e6b,
#app-mount .standardSidebarView__23e6b:has(.vc-plugins[aria-selected="true"]) .contentColumn__23e6b{
	--settingsicons-icon: var(--settingsicons-bd-plugins) !important;
}
.sidebar__23e6b .side_b3f026 .item_b3f026.bd-themes-tab,
.sidebar__23e6b .side_b3f026 .item_b3f026.vc-themes,
#app-mount .standardSidebarView__23e6b:has(.bd-themes-tab[aria-selected="true"]) .contentColumn__23e6b,
#app-mount .standardSidebarView__23e6b:has(.vc-themes[aria-selected="true"]) .contentColumn__23e6b {
	--settingsicons-icon: var(--settingsicons-bd-themes) !important;
}

/* ----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */

